body {
  font-family: Arial, sans-serif;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.login-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center;
  border: 2px solid #d03941;
}

h1 {
  margin-bottom: 20px;
  font-size: 1.5rem;
  color: #d03941;
}

input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #d03941;
  border-radius: 5px;
  font-size: 1rem;
}

input:focus {
  outline: none;
  border-color: #a02934;
  box-shadow: 0 0 5px #d03941;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #d03941;
  border: none;
  color: white;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #a02934;
}

.error {
  color: #d03941;
  font-size: 0.9rem;
}
