/* Belgiano Serif Font */
@font-face {
  font-family: "Belgiano Serif";
  src: url("./fonts/Belgiano Serif 2.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Fair Prosper";
  src: url("./fonts/Fair Prosper.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Germansh";
  src: url("./fonts/Germansh.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
    font-family: 'Crima';
    src: url('./fonts/Crima.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
::-webkit-scrollbar {
  display: none;
}

html:focus-within {
  scroll-behavior: smooth;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} 
body {
  font-family: "Belgiano Serif";
  background-color: #dec1b2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  /* background-color: red; */
}

.order-container {
  background-color: #ffffff;
  padding: 25px 30px;
  border-radius: 12px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
  max-width: 1000px;
  margin: 10vh auto 50px;
}

h1 {
  text-align: center;
  color: #0d1b2a;
  font-size: 3rem;
}

h2 {
  font-size: 1.5rem;
  /* color: #444; */
  margin-top: 20px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}

.form-field {
  margin-bottom: 15px;
}

.form-field input {
  width: 100%;
  padding: 12px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-sizing: border-box;
}

.form-field input:focus {
  border-color: #d03941;
  outline: none;
}

.order-item {
  background-color: #ced4da9e;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.333);
}

.quantity-controls {
  display: flex;
  align-items: center;
}

.quantity-controls button {
  padding: 6px 10px;
  background-color: #d03941;
  border: none;
  cursor: pointer;
  color: white;
  border-radius: 4px;
  font-size: 0.9rem;
}

.quantity-controls button:hover {
  background-color: #b22f34;
}

.quantity-input {
  width: 40px;
  text-align: center;
  margin: 0 5px;
  padding: 6px;
  font-size: 0.9rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.button-group {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}

.total {
  font-size: 1.6rem;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: right;
  padding-bottom: 13px;
  border-bottom: 1px solid #984643;
  /* text-decoration: underline; */
}
.total span {
  color: green;
  text-decoration: none;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}
.pay-button {
  background-color: #28a745;
  color: white;
  padding: 15px 20px;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  font-size: 0.9rem;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
  width: 180px;
  height: 5vh;
  overflow: hidden;
  position: relative;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.333);
}
.back-home-button {
  padding: 15px 20px;
  background-color: #f44336;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  font-size: 0.9rem;
  font-weight: bold;
  text-align: center;
  justify-content: space-between;
  margin-bottom: 10px;
  width: 180px;
  height: 5vh;
  overflow: hidden;
  position: relative;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.333);
}

.pay-button:hover {
  background-color: #176127;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.455);
}

.back-home-button:hover {
  background-color: #b62623;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.333);
}

/* Remove the spinner for WebKit browsers (Chrome, Safari) */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  display: none; /* Hide the spinner */
  user-select: none;
}
.user-details {
  width: 100%;
  height: max-content;
  background-color: #f5ebe0ae;
  padding: 15px 15px;
  border-radius: 10px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.333);
  color: #333;
  font-size: 2vh;
  cursor: pointer;
  overflow: hidden;
  position: relative;
}
.user-details h4 span {
  /* text-decoration: underline; */
  margin-left: 10px;
  color: #0d1b2a;
}
form div h2 {
  color: #984643;
  border-bottom: 1px solid #984643;
  padding-bottom: 5px;
  margin-bottom: 13px;
}
.liquid-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.281);
  transform: translateX(-120%) skewX(-15deg);
  transition: 0.5s;
}
.liquid-button:hover::before {
  transform: translateX(120%) skewX(-15deg);
}

/* Responsive Styles */
@media (max-width: 768px) {
  
  h2 {
    margin-bottom: 0.5rem;
  }
  body {
    padding: 10px;
  }

  .order-container h1 {
    font-size: 2.3rem;
  }

  h2 {
    font-size: 1.3rem;
  }

  

  .quantity-input {
    width: 30px;
  }

  .button-group {
    flex-direction: row;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 1.5rem;
  }

  .quantity-controls {
    margin-top: 5px;
  }

  .button-group {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
  }
  .pay-button,
  .back-home-button {
    background-color: #28a745;
    color: white;
    padding: 6px 12px; /* Small padding for compact buttons */
    border: none;
    cursor: pointer;
    border-radius: 6px;
    font-size: 0.9rem;
    font-weight: bold;
    min-width: 90px;
    text-align: center;
  }

  .back-home-button {
    background-color: #f44336;
  }
  .back-home-button a{
    text-decoration: none;
    color: white;
  }
  .back-home-button:hover {
    background-color: #e53935;
  }

  .pay-button:hover {
    background-color: #218838;
  }

  .item-name {
    font-size: 1rem;
  }
  .item-section {
    display: flex;
    /* align-items: center; */
    justify-content: start;
    flex-direction: column;
  }

  .quantity-controls {
    display: flex;
    align-items: center;
  }
  .quantity-input {
    text-align: center;
  }

  .item-price {
    color: green;
    font-weight: 700;
    font-size: 2vh;
  }
}
nav {
  width: 100vw;
  height: 9vh;
  background-color: #984643;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  padding: 0 5vw;
  border-bottom: 1px solid #000;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

nav h2 {
  font-size: 2rem;
  font-family: "Fair Prosper";
  letter-spacing: 0.2vw;
  margin-left: 2vw;
  margin-top: 2vh;
}
nav img {
  height: 50px;
  width: 70px;
}

.nav-part2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.1rem;
  margin-left: 10vw;
}

.nav-part2 details {
  position: relative;
}

.nav-part2 details summary {
  list-style: none;
}

.nav-part2 details ul {
  overflow: hidden;
  background-color: white;
  color: #000;
  position: absolute;
  right: 0%;
  top: 40px;
  width: max-content;
  border-radius: 10px;
  box-shadow: 0 0.2em 0.2rem rgba(0, 0, 0, 0.5);
  text-shadow: none;
  padding: 5px 5px;
}

.nav-part2 details ul li {
  font-size: 1.4rem;
  padding: 6px 6px;
  cursor: pointer;
  text-shadow: none;
  border-radius: 5px 5px 0 0;
  border-bottom: 1px solid #3f171725;
}

.nav-part2 details ul li:last-child {
  border-bottom: none;
  border-radius: 0px 0px 5px 5px;
}

.nav-part2 details ul li:hover {
  background-color: #59ae9234;
}
.nav-part2 details ul li i a {
  color: #000;
  text-decoration: none;
  padding-left: 5px;
}


.transition {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  z-index: 200;
  pointer-events: none;
}
.transition-row {
  flex: 1;
  display: flex;
}
.transition-row.row-1 .block {
  transform-origin: top;
}
.transition-row.row-2 .block {
  transform-origin: bottom;
}
.block {
  flex: 1;
  background-color:  #faedcd;
  transform: scaleY(1);
  will-change: transform;
  color: black;
}
.revealtext1 {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  /* font-family:'Crima'; */
  font-size: 4rem;
}
.revealtext1 img{
  width: 300px;
  height: 300px;
}
.revealtext2 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  font-family: "Crima";
  text-align: center;
  font-size: 3rem;
  padding-top: 5vh;
  color: #7e1f1f; 
}

@media (min-width: 468px) {
  .revealtext1 {
    font-family: "Fair Prosper";
    font-size: 5vw;
  }
  .revealtext2 {
    font-size:3vw;
}
}

.footer {
  background-color:#6f3230; /* Matching header color */
  color: #fff;
  text-align: center;
  padding: 5px;
  position: relative;
  bottom: -10px;
  left: 0;
  width: 100vw;
  font-size: 14px;
  /* margin-top: 1vh; */
}

.footer-content {
  max-width: 800px;
  /* margin: auto; */
}

.social-media a {
  color: #fff; /* Gold color for contrast */
  text-decoration: none;
  margin: 0 5px;
}
.social-media a i{
  font-size: 1rem;
  color:#fff;
}
.social-media a:hover {
  text-decoration: none;
}

.contact p {
  margin: 5px 0;
}

.navbar-logo {
  height: 40px;
  margin-right: 10px;
  vertical-align: middle;
}
