<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Your Orders</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/view_orders.css' %}"
    />
    <script src="{% static 'js/view_orders.js' %}" defer></script>
  </head>
  <body>
    <h1>Your Order History</h1>
    <table>
      <thead>
        <tr>
          <th>Order ID</th>
          <th>Item Name</th>
          <th>Quantity</th>
          <th>Total Amount</th>
          <th>Status</th>
          <th>Token ID</th>
        </tr>
      </thead>
      <tbody>
        {% for order in orders %}
        <tr>
          <td>{{ order.0 }}</td>
          <td>{{ order.1 }}</td>
          <td>{{ order.2 }}</td>
          <td>{{ order.3 }}</td>
          <td>{{ order.4 }}</td>
          <td>{{ order.5 }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
</html>
